*{
    font-family: "Roboto", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,300;1,500&display=swap');
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.img{
    height:auto;
    width:auto;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    border-radius: 10px;
}
header img{
    width: auto;
    max-width: 350px;
    max-height: 175px;
    height: auto;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display:flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: #f9faf8;
}
header,
footer{
    background-color: #1f2937;
}
.hero{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.secondary
{
    font-size: 18px;
    color: #e5e7eb;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
.sign-up-container{
    background-color: #3882f6;
}
button{
    background-color: #3882f6;
    width: 120px;
    color: white;
    border-radius:10px;
    padding: 10px 15px;
    font-weight: 900;
     border: 0;
    
}
button:hover{
    opacity: 50%;
  
}

.info-title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.quote{
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}
header{
    display: flex;
    flex-direction: column;
    padding: 10px 200px 50px;
    flex: 1;


}
.links{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;

}
.title{
    display:flex;
    gap: 30px;
}
.title-text{
display:flex;
flex-direction: column;
gap: 10px;
flex: 1 1 auto;
}
.title img{
    width:450px;
}

.images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
   
    padding: 30px 0px 50px;
    text-align: center;
    flex: 1 1 auto;
    
   
}
.info-images{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0 250px 0;
    flex-wrap: wrap;
    }
footer{
    flex: 0;
}
.quote{
    display: flex;
    padding: 100px 250px;
    flex-direction: column;
    flex: 1;

}
.author{
    align-self: flex-end;
    font-weight: 900;
    font-style: normal;
    color: black;
    font-size: 28px;
    
}
.info{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    max-width: 150px;
    gap: 15px;
    margin: 30px;
   
}
.sign-up-container{
    display:flex;
    flex: 1;
    justify-content: space-between;
    align-items:center;
    gap:50px;
    padding: 30px 100px;
    border-radius: 10px;
    
    
}
.sign-up-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.sign-up{
    display:flex;
    background-color: white;
    padding: 50px 150px;
    color:white;
}
.action{
    font-weight: 900;
}
footer{
    display:flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.sign-up-button{
    border: 2px solid white;
    
}

